.env
__pycache__
cdk.out/
.vscode/
.idea/
temp_docustreams_audio/
*.m4a
*.mp4
scripts/audio/docustream_144.wav
scripts/audio/docustream_184.wav
scripts/audio/docustream_193.wav
scripts/audio/docustream_278.wav
scripts/audio/docustream_279.wav
scripts/audio/docustream_280.wav
scripts/audio/docustream_282.wav
scripts/audio/docustream_301.wav
scripts/audio/docustream_302.wav
scripts/audio/docustream_303.wav
scripts/audio/docustream_304.wav
scripts/audio/docustream_305.wav